<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>I manage the metadata of all data used in Naver. I track data is, produce and consume cycle, and audit data usages. I make and operate an in-house data store that handles log data, and user-generated content data, and web crawling data using Apache HBase.</p>
    <p>I can build and operate an API server using Spring Framework. I can manage metadata and audit data usages. I can design and implement an architecture that handles large amounts of data.</p>
</div>